body{
    background-color: rgb(253, 251, 251);
    font-size: 20px;
    color: green;
    line-height: 2;
    font-family: 'Courier New', Courier, monospace;

}
#cabecalho{
    top: 0;
    position: fixed;
}
section{
    margin: auto;
    padding: 2px;
    border: 1px solid red;
}
table{
    border: 2px solid green;
}
.lado-esquerdo{
    position: absolute;
    color: blue;
    text-align: left;
    

}
.lado-direito{
    position: absolute;
    color: red;
    text-align: right;
    width: 50%;

}